# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build
/dist

# Environment variables & local secrets
.env.local
.env.*.local
!.env.example
!.env.local.example

# Debug & Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Operating System files
.DS_Store
Thumbs.db
*.pem

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel
